<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Method Selection</title>
    <link href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-label {
            white-space: normal; /* Allows text to wrap */
            word-wrap: break-word; /* Break long words if necessary */
        }
    </style>
</head>
<body class="container mt-5">
<!-- Add the Modal for Repository Selection -->
<div class="modal fade" id="repositoryListModal" tabindex="-1" aria-labelledby="repositoryListModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="repositoryListModalLabel">Existing repository selection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Select an Existing Repository</h4>
                <ul id="clonedRepoList" class="list-group"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Section 1 : Repository URL -->
<div id="repositoryUrlSection" class="mt-4">
    <h4>Repository</h4>
    <div class="mb-3">
        <label for="gitRepoUrl" class="form-label">
            Enter Git Repository URL:<br>
            For example:<br>
            https://github.com/shahidul2k9/commit-trace-oracle<br>
            https://github.com/shahidul2k9/commit-trace-oracle.git<br>
            git@github.com:shahidul2k9/commit-trace-oracle.git<br>
            gh repo clone shahidul2k9/commit-trace-oracle
            /home/repository/commit-trace-oracle
        </label>
        <div class="input-group">
            <input type="text" class="form-control" id="gitRepoUrl" placeholder="Repository Location">
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#repositoryListModal" onclick="loadClonedRepositories()">Browse</button>
        </div>
    </div>
    <div class="text-center mt-3">
        <button class="btn btn-primary" onclick="checkoutRepository('')">Next</button>
    </div>
</div>


<!-- Section 3 : Commit Hash Input-->
<div id="startCommitHashSection" class="mt-4 d-none">
    <h4>Commit Hash</h4>
    <div class="mb-3">
        <label for="startCommitHash" class="form-label">Commit Hash:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="startCommitHash" placeholder="Enter commit hash">
            <button class="btn btn-outline-secondary" onclick="fillHEAD()">HEAD</button>
        </div>
    </div>
    <!-- Buttons horizontally centered and aligned -->
    <div class="d-flex justify-content-center align-items-center mt-3 gap-3">
        <button class="btn btn-secondary" onclick="showRepositoryLocationSection()">Back</button>
        <button class="btn btn-primary" id="startCommitHashNextButton" onclick="showFileSection(true)" disabled>Next</button>
    </div>
</div>


<!-- Section 4 : File Selection-->
<div id="fileSection" class="mt-4 d-none">
    <h4>File</h4>
    <div class="mb-3">
        <label for="fileSearch" class="form-label">Search File:</label>
        <div class="input-group">
            <input type="text" class="form-control" id="fileSearch" placeholder="Enter file path">
            <button class="btn btn-outline-secondary" onclick="searchFiles()">Search</button>
        </div>
    </div>
    <div id="breadcrumb" class="mb-3">
        <!-- File path breadcrumbs -->
    </div>
    <ul id="fileList" class="list-group">
        <!-- File items will be dynamically generated -->
    </ul>

    <!-- Back Button for Section 3 -->
    <div class="text-center mt-3">
        <button class="btn btn-secondary" onclick="showStartCommitHashSection()">Back</button>
    </div>
</div>


<!-- Section 5 : File Selection-->
<div id="methodSection" class="mt-4 d-none">
    <h4>Method</h4>

    <ul id="methodList" class="list-group">
        <!-- Method items will be dynamically generated -->
    </ul>

    <!-- Back Button for Section 3 -->
    <div class="text-center mt-3">
        <button class="btn btn-secondary" onclick="showFileSection(false)">Back</button>
    </div>
</div>


<!-- Section 6 -->
<div id="algorithmSection" class="mt-4 d-none">
    <h4>Algorithm</h4>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="historyFinder" name="algorithms" value="HISTORY_FINDER">
        <label class="form-check-label" for="historyFinder">HistoryFinder</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="codeShovel" name="algorithms" value="CODE_SHOVEL">
        <label class="form-check-label" for="codeShovel">CodeShovel</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="codeTracker" name="algorithms" value="CODE_TRACKER">
        <label class="form-check-label" for="codeTracker">CodeTracker</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gitFuncname" name="algorithms" value="GIT_FUNC_NAME">
        <label class="form-check-label" for="gitFuncname">Git Funcname</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gitLineRange" name="algorithms" value="GIT_LINE_RANGE">
        <label class="form-check-label" for="gitLineRange">Git Line Range</label>
    </div>
    <button class="btn btn-secondary mt-3" onclick="showMethodList()">Back</button>
    <button class="btn btn-primary mt-3" onclick="onClickFindTrace()">Next</button>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
<script>
    const sectionList = ['repositoryUrlSection',  'startCommitHashSection', 'fileSection', 'methodSection', 'algorithmSection'];

    let state = {
        repository: {
            host: '',
            accountName: '',
            repositoryName: '',
            path: ''
        },
        file: '',
        methodName: '',
        startLine: '',
        endLine: ''
    };


    // Navigate between sections
    function revealSection(section) {
        <!--        document.querySelectorAll('div[id^="section"]').forEach(div => div.classList.add('d-none'));-->
        sectionList.forEach(s => {
            document.getElementById(s).classList.add('d-none');
        });
        document.getElementById(section).classList.remove('d-none');
    }


    function showRepositoryLocationSection() {
        revealSection('repositoryUrlSection');
    }

    function showStartCommitHashSection() {
        state.file = ''
        revealSection('startCommitHashSection');
    }

    function showFileSection(needToFetch) {
        console.log('revealing file section..')
        if (needToFetch) {
            fetchFileList(state.file)
        }
        revealSection('fileSection');
    }

    function showMethodList() {
        fetchMethodList(state.file)
        revealSection('methodSection');
    }

    function showAlgorithmSection(methodName, startLine, endLine) {
        state.methodName = methodName;
        state.startLine = startLine;
        state.endLine = endLine;
        revealSection('algorithmSection');
    }


    function onSelectFile(file) {
        console.log(`Selected file: ${file}`);
        if (file.toLowerCase().endsWith('.java')) {
            state.file = file;
            showMethodList()
        } else {
            fetchFileList(file)
        }
    }

    function onClickFindTrace() {
        const selectedAlgorithms = Array.from(document.querySelectorAll('input[name="algorithms"]:checked')).map(checkbox => checkbox.value);
        if (selectedAlgorithms.length === 0) {
            alert("Please select at least one algorithm.");
            return;
        }else{
            selectedAlgorithms.forEach(algorithm => {
                loadMethodHistory(state.file, state.methodName, state.startLine, state.endLine, algorithm)
            });
        }
        console.log("Selected algorithms:", selectedAlgorithms);
    }
    // Existing methods for other sections...

    // Attach goToSection2 to "Already Cloned" button
    //document.querySelector('button[onclick="goToSection(2)"]').onclick = goToSection2;




    function fillHEAD() {
        document.getElementById('startCommitHash').value = "HEAD";
        document.getElementById('startCommitHashNextButton').disabled = false;
    }

    function searchFiles() {
        const filePath = document.getElementById('fileSearch').value;
        onSelectFile(filePath)
    }


    function dismissRepositoryListDialog() {
        const modalElement = document.getElementById('repositoryListModal');
        const modalInstance = bootstrap.Modal.getOrCreateInstance(modalElement);

        if (modalInstance) {
            modalInstance.hide(); // Hides the modal and its backdrop
        }
        const backdrop = document.querySelector('.modal-backdrop');
        if (backdrop) {
            backdrop.remove();
        }
    }

    function checkoutRepository(location) {
        if (location === ''){
            location = document.getElementById('gitRepoUrl').value;
        }
        if (!location) {
            alert("Please enter a Git repository URL.");
            return;
        }

        $.ajax({
            url: '/api/checkout-repository?location=' + location,
            method: 'GET',
            success: function (response) {
                state.repository = response;
                showStartCommitHashSection();

            },
            error: function () {
                alert('Failed to load file list.');
            }
        });
    }


    // Call API to load cloned repositories
    function loadClonedRepositories() {
        $.ajax({
            url: '/api/repository-list', // URL to Spring MVC backend API
            method: 'GET',
            success: function (response) {
                const list = document.getElementById('clonedRepoList');
                list.innerHTML = ''; // Clear previous list

                // Dynamically populate the list
                response.forEach(function (repo) {
                    const li = document.createElement('li');
                    li.classList.add('list-group-item');
                    li.textContent = repo;
                    li.onclick = function () {
                        dismissRepositoryListDialog()
                        checkoutRepository(repo)
                    };
                    list.appendChild(li);
                });
            },
            error: function () {
                alert('Failed to load cloned repositories.');
            }
        });
    }

    function fetchFileList(path) {
        $.ajax({
            url: '/api/path-list',
            method: 'GET',
            data: {
                startCommitHash: document.getElementById('startCommitHash').value,
                repositoryHostName: state.repository.host,
                repositoryAccountName: state.repository.accountName,
                repositoryName: state.repository.repositoryName,
                repositoryPath: state.repository.path,
                path: path
            },
            success: function (response) {
                const list = document.getElementById('fileList');
                list.innerHTML = ''; // Clear previous list

                // Dynamically populate the list
                response.forEach(function (file) {
                    const li = document.createElement('li');
                    li.classList.add('list-group-item');
                    let fileParts = file.split("/");
                    li.textContent = file
                    //li.textContent = fileParts[fileParts.length - 1];
                    li.onclick = function () {
                        onSelectFile(file);
                    };
                    list.appendChild(li);
                });
            },
            error: function () {
                alert('Failed to load file list.');
            }
        });
    }

    function fetchMethodList(file) {
        $.ajax({
            url: '/api/method-list',
            method: 'GET',
            data:{
                startCommitHash: document.getElementById('startCommitHash').value,
                repositoryHostName: state.repository.host,
                repositoryAccountName: state.repository.accountName,
                repositoryName: state.repository.repositoryName,
                repositoryPath: state.repository.path,
                file: file
            },
            success: function (response) {
                const list = document.getElementById('methodList');
                list.innerHTML = ''; // Clear previous list

                // Dynamically populate the list
                response.forEach(function (methodDto) {
                    const li = document.createElement('li');
                    li.classList.add('list-group-item');
                    li.textContent = methodDto.signature;
                    li.onclick = function () {
                        showAlgorithmSection(methodDto.methodName, methodDto.startLine, methodDto.endLine);
                    };
                    list.appendChild(li);
                });
            },
            error: function () {
                alert('Failed to load file list.');
            }
        });
    }

    function loadMethodHistory(file, methodName, startLine, endLine, tracerName) {
        $.ajax({
            url: '/ui/method-history',
            method: 'GET',
            data:{
                startCommitHash: document.getElementById('startCommitHash').value,
                repositoryHostName: state.repository.host,
                repositoryAccountName: state.repository.accountName,
                repositoryName: state.repository.repositoryName,
                repositoryPath: state.repository.path,
                file: file,
                methodName: methodName,
                startLine: startLine,
                endLine: endLine,
                tracerName: tracerName

            },
            success: function (response) {
                console.log(response)
                // Open a new tab
                let newTab = window.open(this.url);
                // Write the AJAX response into the new tab
                newTab.document.open();
                newTab.document.write(response);
                newTab.document.close();
            },
            error: function () {
                alert('Failed to load commit trace.');
            }
        });
    }
</script>
<script src="/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
